.content.profile{
  .title.profile {
    h1 {
      margin-bottom: 64px;
      margin-top: 80px;
    }
  }
  .block.profile {
    display: flex;
    margin-bottom: 40px;
    .formUser {
      .inputName {
        display: flex;
        .block {
          display: flex;
          flex-direction: column;
        }
      }
      .inputDescription {
        .block{
          display: flex;
          flex-direction: column;
        }
      }
      form {
        min-height: 366px;
        .button {
          outline: 1px solid;
          padding: 13px 32px;
          font-size: 16px;
          line-height: 1.5em;
          display: unset;
          width: 164px;
          height: 48px;
          font-family: 'IBM Plex Sans Arabic', sans-serif;
          font-style: normal;
          font-weight: bold;
        }
        .button:hover {
          color: white;
          background: black;
          cursor: pointer;
        }
      }
    }
  }
  .user {
    height: 366px;
    width: 366px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
    .rame {
      width: 346px;
      height: 346px;
      outline: 1px solid #F2F2F2;
      position: absolute;
    }
    .textBlockUser {
      display: flex;
      flex-direction: column;
      z-index: 999;
      margin-top: 32px;
      .button {
        text-decoration: underline;
        padding: 0 32px;
        line-height: 3em;
      }
      .button:hover {
        line-height: 3em;
        outline: 1px solid;
        padding: 0 32px;
        cursor: pointer;
        text-decoration: unset;
      }
    }
    .iconUser {
      z-index: 999;
      .dontUser {
        height: 126px;
        width: 126px;
        background: #E5E5E5;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        height: 150px;
        width: auto;
        border-radius: 100%;
      }
    }
  }
  .formUser {
    width: 60%;
    .inputName {
      justify-content: space-between;
      .block {
        span{
          text-align: left;
          margin-bottom: 12px;
          font-family: 'IBM Plex Sans Arabic', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #242424;
        }
        input{
         min-width: 286px;
          height: 47px;
          border: 1px solid #E1E1E1;
        }
        input:focus-visible{
          outline: unset;
        }
      }
    }
    .inputDescription {
      .block {
        span {
          text-align: left;
          margin-bottom: 12px;
          font-family: 'IBM Plex Sans Arabic', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #242424;
        }
        input {
          height: 155px;
          border: 1px solid #E1E1E1;
        }
        input:focus-visible{
          outline: unset;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .container{
    .content.profile{
      .block.profile{
        flex-direction: column;
        align-items: center;
        .formUser{
          margin-bottom: 20px;
          form{
            min-height: unset;
          }
          .inputName{
            flex-direction: column;
            .block{
              input{
                margin-bottom: 20px;
              }
            }
          }
          .inputDescription{
            margin-bottom: 20px;
          }
        }
        .user{
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media all and (max-width: 375px) {
  .container{
    .content.profile{
      .block.profile{
        .user{
          margin-right: unset;
        }
        .formUser{
          width: auto;
        }
      }
    }
  }
}

@media all and (max-width: 1190px) {

  .content.profile{
    .title.profile {
      h1 {

      }
    }
    .block.profile {

      .formUser {
        .inputName {

          .block {

          }
        }
        .inputDescription {
          .block{

          }
        }
        form {

          .button {

          }
          .button:hover {

          }
        }
      }
    }
    .user {

      .rame {

      }
      .textBlockUser {

        .button {

        }
        .button:hover {

        }
      }
      .iconUser {

        .dontUser {

        }
      }
    }
    .formUser {

      .inputName {

        .block {
          span{

          }
          input{
           min-width: 240px;
            height: 47px;
          }
        }
      }
      .inputDescription {
        .block {
          span {

          }
          input {

          }
        }
      }
    }
  }
  
}
