.content.myArticles{
  display: flex;
  margin-top: 80px;
  .user {
    height: 366px;
    width: 366px;
    background: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
    .rame {
      width: 328px;
      height: 346px;
      outline: 1px solid #F2F2F2;
      position: absolute;
    }
    .textBlockUser {
      display: flex;
      flex-direction: column;
      span:nth-child(1) {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        text-align: center;
        color: #242424;
        margin-top: 24px;
        margin-bottom: 16px;
      }
      span:nth-child(2) {
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #8C8C8C;
        width: 259px;
      }
    }
    .iconUser{
      img{
        height: 150px;
        width: auto;
      }
    }
  }
  .articlesList {
    width: 65%;
    .noData{
      font-family: "Playfair Display", serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: #242424;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}
  h1 {
    display: flex;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #242424;
    margin-bottom: 96px;
  }

  .articles.my {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    border-bottom: 1px solid #EBEBEC;

    .infoArticle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .hashTag.my {
        background: #F7F7F7;
        border-radius: 118px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 24px;
        color: #8C8C8C;
        padding: 0 10px;
        margin-top: 25px;
      }

      .nameArticle.my {
        font-family: 'Playfair Display', serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 32px;
        color: #242424;
        margin-top: 24px;
        text-decoration: unset;

      }

      .discriptionArticle.my {
        text-align: left;
        font-family: 'IBM Plex Sans Arabic', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #8C8C8C;
        margin-top: 16px;
      }
      .userInfo.my {
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        margin-bottom: 17px;

        .iconUser img {
          border-radius: 100%;
          margin-right: 10px;
        }

        .iconUser.my {
          span {
            font-family: 'IBM Plex Sans Arabic', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            color: #8C8C8C;
          }
        }

        .viewArticle.my {
          font-family: 'IBM Plex Sans Arabic', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          color: #8C8C8C;
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
        }
        .dataArticle.my{
          font-family: "IBM Plex Sans Arabic", sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 12px;
          color: #8C8C8C;
          display: flex;
          align-items: center;
        }
      }
    }
  }


.paginationArticle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  margin-top: 56px;

  .paginationButton{
    line-height: 2em;
    padding: 0 20px;
    outline: 1px solid;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #242424;
    cursor: pointer;
  }
  .paginationButton:hover {
    color: white;
    background: black;
    cursor: pointer;
  }
}

@media all and (max-width: 768px) {
  .container{
    .content.myArticles{
      flex-direction: column;
      align-items: center;
    }
  }
}

@media all and (max-width: 375px) {
  .container{
    .content.myArticles{
      .user{
        margin-right: unset;
      }
      .articlesList{
        .paginationArticle{
          margin-bottom: 40px;
        }
      }
    }
  }
}