.content.page {
  display: flex;
  .article {
    .articles.page {
      width: 676px;
      .pic {
        width: 100%;
      }
      .infoArticle.page {
        .userInfo.page {

        }
      }
    }
  }
  .button {
    width: 124px;
    line-height: 3em;
    outline: 1px solid #8C8C8C;
    height: 47px;
    color: #8C8C8C;
  }
}