footer {
  background: #242424;

  .button {
    color: white;
    padding: 13px 34px;
    text-decoration: auto;
  }

  .button:hover {
    outline: 1px solid #EBEBEB;
    cursor: pointer;
  }

  .blockOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #585858;
    height: 175px;
  }

  .blockTwo {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      color: #585858;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .buttonBlock {
    display: flex;
  }
}

@media all and (max-width: 768px) {
  .container{
    .blockOne{
      flex-direction: column;
      div{
        .buttonBlock{

        }
      }
      .footerLogo{
        margin-top: 20px;
      }
    }
  }
}

@media all and (max-width: 375px) {
  .container{
    .blockOne{
      flex-direction: column;
      div{
        .buttonBlock{

        }
      }
      .footerLogo{
        margin-top: 20px;
      }
    }
  }
}